<header>
	<h1>Roastery</h1>
	<%= link_to 'Back', roastery_path(@roastery), :class => "button" %>
</header>
<%= render 'form' %>
<!-- <p>
	<%= button_to 'Destroy', @roastery, :confirm => 'Are you sure?', :method => :delete, :class => "button" %>
</p> -->
