<section class="list_roasters">
	<% if @roasters %>
		<% @roasters.each do |rsters| %>
			<p>
				<%= link_to 'Remove', rsters, :confirm => 'Are you sure?', :method => :delete, :class => "removebutton" %>
				<%= rsters.user.username %> 
			</p>
		<% end %>
	<% end %>
</section>