<p>
	<% @roasters.each do |roaster| %>
		<b><%= roaster.user.email %></b> is a roaster for <b><%= link_to roaster.roastery.name, roastery_path(:id => roaster.roastery.id) %></b>
		| <%= link_to 'Remove', roaster, :confirm => 'Are you sure?', :method => :delete %><br>
	<% end %>
</p>