<section class="sectionlist">
	<h2>Users</h2>
	<section>
		<% @users.each do |user| %>
			<p>
				<%= link_to user.email, edit_user_path(user) %>
				<% if user.admin.present? %>
					<b>ADMIN!!!</b>
				<% end %>
			</p>
		<% end %>
	</section>
</section>
