<header>
	<%= link_to 'Back', @batch, :class => "button" %>
</header>
<section class="section">
<%= render 'form' %>
<%= button_to 'Remove', @blend, :confirm => 'Are you sure?', :method => :delete, :class => "button" %>
</section>

