<section class="list_radmins">
	<% @roastery_admins.each do |ra| %>
		<p>
			<%= link_to 'Remove', ra, :confirm => 'Are you sure?', :method => :delete, :class => "removebutton" %>
			<%= ra.user.username %>
		</p>
	<% end %>
</section>