<section class="sectionlist">
	<h2>Roastery Admins</h2>
	<section>
		<% @roastery_admins.each do |roastery_admin| %>
			<p>
				<%= link_to 'Remove', roastery_admin, :confirm => 'Are you sure?', :method => :delete, :class => "removebutton" %>
				<b><%= roastery_admin.user.email %></b> for <b><%= link_to roastery_admin.roastery.name, roastery_path(:id => roastery_admin.roastery.id) %></b>
			</p>
		<% end %>
	</section>
</section>