<header>
	<%= link_to 'Back', cupping_path, :class => "button"  %>
</header>
<section>
	<h1>Edit Samples</h1>
</section>
<%= render 'form' %>
<%= button_to 'Destroy', @cupping, :confirm => 'Are you sure?', :method => :delete, :class => "button"  %>