<header>
	<h1>Bean</h1>
	<%= link_to 'Back', farm_path(@bean.farm), :class => "button" %>
</header>
<%= render 'form' %>
<!-- <% if can? :destroy, @bean %>
	<%= button_to 'Destroy', @bean, :confirm => 'Are you sure?', :method => :delete, :class => "button" %>
<% end %> -->
