<section class="attributesample" id="cupping_sweetness_<%= cupping_sweetness.id %>">
	<%= button_to 'Re-do', cupping_sweetness, :method => :delete, :remote => true, :class => "redo"%>
	<h2># <%= cupping_sweetness.sample.sample_number %></h2>
		<p>Score: <%= cupping_sweetness.score %></p>
</section>
