<section id="clean-cup-show">
	<h1>Clean Cup:</h1>
	Score: <%= cupping_clean_cup.score %>
	<br><%= button_to 'Re-do', cupping_clean_cup, :method => :delete, :remote => true, :class => "button" %>
</section>