<section class="attributesample" id="cupping_clean_cup_<%= cupping_clean_cup.id %>">
	<%= button_to 'Re-do', cupping_clean_cup, :method => :delete, :remote => true, :class => "redo"%>
	<h2># <%= cupping_clean_cup.sample.sample_number %></h2>
		<p>Score: <%= cupping_clean_cup.score %></p>
</section>