<section id="mouthfeel-show">
	<h1>Mouthfeel:</h1>
	Score: <%= cupping_mouthfeel.score %>
	<% if cupping_mouthfeel.weight.present? %>
		<br>Weight: <%= cupping_mouthfeel.weight %>
	<% end %>
	<br><%= button_to 'Re-do', cupping_mouthfeel, :method => :delete, :remote => true, :class => "button" %>
</section>