html {
    height: 100%;
		background: #120C02;
}
body {
	height: 100%;
  margin: 0;
  background-repeat: no-repeat;
	color: #fff;
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #170F03 0%, #1F1404 40%, #1F1404 60%, #120C02 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #170F03 0%, #1F1404 40%, #1F1404 60%, #120C02 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #170F03 0%, #1F1404 40%, #1F1404 60%, #120C02 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #170F03), color-stop(0.4, #1F1404), color-stop(0.6, #1F1404), color-stop(1, #120C02));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #170F03 0%, #1F1404 40%, #1F1404 60%, #120C02 100%);
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #170F03 0%, #1F1404 40%, #1F1404 60%,	 100%);
}
p {
	font-size: 1em;
	color: #fff;
	font-weight:normal;
	padding: 0 1em;
}
p:first-line {
    padding: 0 1em;
}
h1{
	color: #fff;
	font-size: 1.75em;
	letter-spacing: .15em;
	text-align: center;	
}
h2{
	color: #fff;
	letter-spacing:0.06em; 
	font-size: 1.25em;
	text-align: center;
}
h3{
	color: #fff;
	letter-spacing:0.06em; 
	font-size: 1em;
	text-align: center;
}
a{
	font-size: 1em;
	color: #fff;
}
img {
	max-width: 100%;
}
header {
	width: 100%;
/*	margin-bottom: .6em;*/
}
header h1 {
	text-align: center;
	font-family: 'Coustard', serif;
	font-size: 2.5em;
	border-bottom: 3px solid #792616;
	padding-bottom: .12em;
/*	margin-bottom: .4em;*/
	letter-spacing:0.06em; 
	color: #70281B;
	text-shadow: 0px 1px 0px #F7997E;
	/* IE10 */background-image: -ms-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Mozilla Firefox */background-image: -moz-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Opera */background-image: -o-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Webkit (Safari/Chrome 10) */background-image: -webkit-gradient(radial, center top, 0, center top, 480, color-stop(0, #ED7349), color-stop(.25, #C74E32), color-stop(1, #C74E32));
	/* Webkit (Chrome 11+) */background-image: -webkit-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Proposed W3C Markup */background-image: radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
}
footer {
	width: 100%;
	overflow: hidden;
	margin-top: 1em;
}
nav {
	background: #1f1404;
	display: block;
	margin-right: .3em;
	margin-left: .3em;
	border-top: .2em solid rgb(121,39,22);
	border-right: .2em solid rgb(121,39,22);
	border-left: .2em solid rgb(121,39,22);
	border-top-right-radius: .6em;
	border-top-left-radius: .6em;
}	
nav div {
	font-size: 1.5em;
	letter-spacing:0.06em;
	text-align: center;	
	padding: .4em 0;
	border-bottom: .15em solid rgb(121,39,22);
}
nav div:last-child  {
	border-bottom: 0;
}
nav p {
	text-align: center;
	font-size: .75em;
	padding: 0 2.5em;
}
nav div a {
	display: block;
}
/*-------------------*/
form{
	text-align: left;
}
label {
	font-size: 1.25em;
	display: block;
	max-width: 95%;
	margin: 0 auto ;
	padding: .3em;	
}
input {
	font-size: 1em;
	display: block;
	width: 95%;
	margin: 1em auto;
	padding: .3em;
}
select {
	text-align: center;
	display: block;
	width: 95%;
	margin: 1em auto;	
}
textarea {
	display: block;
	width: 95%;
	padding: .3em;
	margin: 0 auto;
/*	margin: -1em auto .5em;*/
}
input[type=submit]{
	font-size: 1em;
	width: 98%;
	padding: .5em;
/*	margin: .5em auto .5em;*/
}
/*-------------------*/
.logo {
	height: 60px;
	text-align: center;
	background: #C74E32;
	border-bottom: 3px solid #792616;
}
.logo	img {
	height: 60px;
}
/*-------------------*/
.button {
	font-size: 1em;
	letter-spacing:0.06em;
	color: #ffffff;
	display: block;
	margin: 0.3em;
	text-align: center;	
	padding: .5em 0;
	background: -moz-linear-gradient(
		top,
		#a3a3a3 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a3a3a3),
		color-stop(0.50, #3b3b3b),
		color-stop(0.50, #242424),
		to(#000000));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}
.navbutton {
	font-size: .75em;
	letter-spacing:0.06em;
	color: #ffffff;
	display: block;
	margin-top: 1em;
	margin-left: 0.6em;
	width: 50%;
	text-align: center;	
	padding: .5em 0;
	background: -moz-linear-gradient(
		top,
		#a3a3a3 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a3a3a3),
		color-stop(0.50, #3b3b3b),
		color-stop(0.50, #242424),
		to(#000000));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}
.leftbutton {	
	font-size: 1em;
	letter-spacing:0.06em;
	color: #ffffff;
	text-align: center;
	float: left;
	width: 28%;
	margin: .3em 0 .3em .1em;
	padding: .5em 0;
	background: -moz-linear-gradient(
		top,
		#a3a3a3 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a3a3a3),
		color-stop(0.50, #3b3b3b),
		color-stop(0.50, #242424),
		to(#000000));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}
.rightbutton {
	font-size: 1em;
	letter-spacing:0.06em;
	color: #ffffff;
	text-align: center;
	float: right;
	width: 69%;
	margin: .3em .1em .3em 0;
	padding: .5em 0;
	background: -moz-linear-gradient(
		top,
		#a3a3a3 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a3a3a3),
		color-stop(0.50, #3b3b3b),
		color-stop(0.50, #242424),
		to(#000000));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}
.removebutton {
	font-size: 1em;
	color: #ffffff;
	text-align: center;
	float: right;
	margin: 0;
	padding: .5em .5em;
	background: -moz-linear-gradient(
		top,
		#a3a3a3 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a3a3a3),
		color-stop(0.50, #3b3b3b),
		color-stop(0.50, #242424),
		to(#000000));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}
/*-------------------*/
.section {
	padding-bottom: .5em;
	border: .2em solid rgb(121,39,22);
	margin: .3em;
	border-radius: .6em;
	background: #120C02;	
}
.section h2{
	padding: .4em .5em 0;
	margin-bottom: -.1em;
	text-align: left;	
}
.section h2:first-child {
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	border-bottom: .2em solid #792616;
	color: #70281B;
	text-shadow: 0px 1px 0px #F7997E;
	/* IE10 */background-image: -ms-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Mozilla Firefox */background-image: -moz-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Opera */background-image: -o-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Webkit (Safari/Chrome 10) */background-image: -webkit-gradient(radial, center top, 0, center top, 480, color-stop(0, #ED7349), color-stop(.25, #C74E32), color-stop(1, #C74E32));
	/* Webkit (Chrome 11+) */background-image: -webkit-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Proposed W3C Markup */background-image: radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	border-top-right-radius: .3em;
	border-top-left-radius: .3em;
}
/*-------------------*/
.list p {
	font-size: 1.25em;
	letter-spacing:0.06em;
	padding: .6em .5em;
	text-align: left;
	border-top: 2px solid #792616;	
	background: -moz-linear-gradient(
		top,
		#120c02 0%,
		#1f1404 25%,
		#1f1404 90%,
		#000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#120c02),
		color-stop(0.25, #1f1404),
		color-stop(0.90, #1f1404),
		to(#000));
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(56,36,7,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(56,36,7,0.7);
}
.list p:first-child {
	border-top: 2px solid #792616;
}
.list p:last-child {
	border-bottom: 2px solid #792616;
	margin-bottom: .3em;
}
.list p a {
	display: block;
}
.sectionlist {
	padding-bottom: 0;
	border: .2em solid rgb(121,39,22);
	margin: .3em;
	border-radius: .6em;
	background: #120C02;
}
.sectionlist h2{
	padding: .4em .5em 0;
	margin-bottom: -.1em;
	text-align: left;	
}
.sectionlist h2:first-child {
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	border-bottom: .2em solid #792616;
	color: #70281B;
	text-shadow: 0px 1px 0px #F7997E;
	/* IE10 */background-image: -ms-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Mozilla Firefox */background-image: -moz-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Opera */background-image: -o-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Webkit (Safari/Chrome 10) */background-image: -webkit-gradient(radial, center top, 0, center top, 480, color-stop(0, #ED7349), color-stop(.25, #C74E32), color-stop(1, #C74E32));
	/* Webkit (Chrome 11+) */background-image: -webkit-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Proposed W3C Markup */background-image: radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	border-top-right-radius: .3em;
	border-top-left-radius: .3em;
}
.sectionlist p {
	font-size: 1em;
	letter-spacing:0.06em;
	padding: .6em .5em;
	text-align: left;
	border-top: 2px solid #792616;	
	background: -moz-linear-gradient(
		top,
		#120c02 0%,
		#1f1404 25%,
		#1f1404 90%,
		#000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#120c02),
		color-stop(0.25, #1f1404),
		color-stop(0.90, #1f1404),
		to(#000));
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(56,36,7,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(56,36,7,0.7);
}

.sectionlist p:first-child {
	border-top: 0;
}
.sectionlist p:last-child {
	border-bottom-right-radius: .3em;
	border-bottom-left-radius: .3em;
}
.sectionlist p a {
	display: block;
}
/*-------------------*/
.more_less {
	z-index: 1;
	margin: 0;
	margin-left: auto;
	margin-right :.3em;
	width: 2.5em;
	height: 2.5em;
	border-top-right-radius: .6em;
	border-top-left-radius: .6em;
	border-top: .2em solid #792616;
	border-right: .2em solid #792616;
	border-left: .2em solid #792616;
	/* IE10 */background-image: -ms-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Mozilla Firefox */background-image: -moz-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Opera */background-image: -o-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Webkit (Safari/Chrome 10) */background-image: -webkit-gradient(radial, center top, 0, center top, 480, color-stop(0, #ED7349), color-stop(.25, #C74E32), color-stop(1, #C74E32));
	/* Webkit (Chrome 11+) */background-image: -webkit-radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
	/* Proposed W3C Markup */background-image: radial-gradient(center top, circle closest-corner, #ED7349 0%, #C74E32 100%);
}
.more_less p {
	text-align: center;
	font-family: 'Coustard', serif;
	color: #70281B;
	text-shadow: 0px 1px 0px #F7997E;
	font-size: 3.5em;
	padding: 0;
}
.more_less_margin {
	width: 100%;
	height: 3em;
	display: block;
	background: transparent;
}
/*-------------------*/
#notice {
  color: green;
	text-align: left;
	padding-left: 5%;
}
#alert {
	color: red;
	text-align: left;
	padding-left: 5%;
}
.field_with_errors {
  color: red;
}
#error_explanation {
  color: red;
	text-align: left;
	padding-left: 5%;
}
/*-------------------*/
#session{
	margin: 1em .6em 1em .6em;
}
#session label{
		font-size: 1.25em;
		max-width: 95%;
		width: 3%;
		margin: .6em .3em .6em .3em;
		padding: 0;
		display: block;
}
#session input{
	float: right;
	margin: 0;
	margin-right: .3em;
	padding-left: 0;
	padding-right: 0;
	width: 75%;
	padding: .1em;
}
#session input[type=submit]{
	font-size: 1em;
	width: 98%;
	padding: .5em;
}
.logoutlink {
	color: rgb(121,39,22);
	float: right;
	margin-top: 1em;
	margin-right: 7%;
}
.redlink {
	font-size: 1.25em;
	float: right;
	padding-bottom: .3em;
	margin-right: 0;
	color: rgb(121,39,22);
}
.redlink_section {
	font-size: 1.25em;
	float: right;
	padding-bottom: .3em;
	margin: .3em .3em 0 0;
	color: rgb(121,39,22);
}

#signup {
	width: 90%;
	margin: auto;	
}
.anotherflavor {
	border: .1em solid rgb(121,39,22);
	border-radius: .3em;
	padding: .3em;
	margin-top: 1em;
	margin-bottom: .6em;
}
.anotheraftertaste {
	border: .1em solid rgb(121,39,22);
	border-radius: .3em;
	padding: .3em;
	margin-top: 1em;
	margin-bottom: .6em;
}