<section id="uniformity-show">
	<h1>Uniformity:</h1>
	Score: <%= cupping_uniformity.score %>
	<br><%= button_to 'Re-do', cupping_uniformity, :method => :delete, :remote => true, :class => "button" %>
</section>