<div id="acidity-show">
	<b>Acidity:</b>
	Score: <%= cupping_acidity.score %>
	<% if cupping_acidity.intensity.present? %>
	Intensity: <%= cupping_acidity.intensity %>
	<% end %>

	<%= link_to 'Re-do', cupping_acidity, :method => :delete, :remote => true %>
</div>